* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {

    width: 100vw;
    height: 100vh;
    background-image: url(https://www.hdwallpapers.in/download/cool_blue_ocean_mountain_tree_branches_nature_background_hd_dark_blue-1920x1080.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    border: 0.5px solid aliceblue;
    box-shadow: 0 0 30px gold;

    
}

h2 {
    margin-bottom: 10px;
    font-size: 1em;
    text-transform: uppercase;
    color: aliceblue;
}

.form-grp {
    position: relative;
    width: 330px;
    margin: 20px 0;
    border-bottom: 3px solid aliceblue;
    
}



.form-grp input {

    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: aliceblue;
    padding: 0 30px 0 10px;
}

.form-grp label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: aliceblue;
    transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
    top: -5px;
    color: gold;
}

.form-grp i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 1em;

}

p {
    text-align: center;
    color: aliceblue;
    padding: 20px;
}

p>a {

    color: aliceblue;
    text-decoration: none;
    font-weight: 300;
}

p>a:hover {
    color: #1b79f3;
    text-decoration: underline;
    font-style: italic;
}

#button {

    width: 80%;
    height: 50px;
    border-radius: 40px;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: none;
    cursor: pointer;
    transition: 0.5s;

}
#button>a{
    text-decoration: none;
    color: #292929;
}

#button:hover {
    background-color: #1b79f3;
    color: aliceblue;
}